.fundoLogin {
    background-image: url(../../assets/backgrounds/4.png);
    background-repeat: no-repeat;
    min-height: auto;
    width: auto;
    background-size:contain;
    background-position: center;
  }