.pularLinha{

    padding: 50px
}


.containerLogin {

    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 10px solid gray;
    border-radius: 5px;
    padding: 50px;
    margin: 0% 39.5% ;
    background-color: darkgrey 
   

}
