.carousel-container {
  max-width: 100%;
  margin: 0 auto;
}

.product-item {
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.sustentabilidade-section img {
  transition: transform 0.3s;
}

.sustentabilidade-section img:hover {
  transform: scale(1.05);
}

.interactive-balls-section {
  position: relative;
  height: 100vh; /* Ajuste conforme necessário */
}

.ball {
  transition: transform 0.3s ease;
}