/* Estilos gerais */
.fundoLogao {
  padding: 0 1rem;
}

/* Estilos para dispositivos móveis */
@media (max-width: 480px) {
  .fundoLogao {
      padding: 0 1rem;
  }

  .text-3xl {
      font-size: 1.5rem;
  }

  .grid {
      grid-template-columns: 1fr;
      gap: 4px;
  }

  .p-20 {
      padding: 1rem;
  }

  .text-xl {
      font-size: 1rem;
  }

  .bg-emerald-900 {
      font-size: 0.875rem;
      padding: 0.5rem 1rem;
  }
}

/* Estilos para dispositivos maiores */
@media (min-width: 481px) and (max-width: 1024px) {
  .text-3xl {
      font-size: 2rem;
  }

  .bg-emerald-900 {
      padding: 0.75rem 1.5rem;
  }
}

/* Estilos para desktops */
@media (min-width: 1025px) {
  .fundoLogao {
      padding: 0 2rem;
  }

  .text-3xl {
      font-size: 2.5rem;
  }

  .bg-emerald-900 {
      padding: 1rem 2rem;
  }
}

/* Estilos para o input de CEP e botão de calcular frete */
input[type="text"] {
  width: 100%;
  max-width: 200px;
}

button.bg-blue-500 {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}
