.navbar {
    background: linear-gradient(to bottom, rgba(0, 50, 0, 0.9), rgba(0, 50, 0, 0.7));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-link {
    color: #d1d1d1; /* Cor de texto neutra */
    transition: color 0.3s ease;
    padding: 10px 15px; /* Espaçamento ao redor do link */
    border-radius: 5px; /* Bordas arredondadas */
}

.navbar-link:hover {
    color: #ff4757; /* Vermelho claro para hover */
    background-color: rgba(255, 71, 87, 0.1); /* Fundo leve ao passar o mouse */
}

.btn-login {
    background-color: #4caf50; /* Verde médio */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #388e3c; /* Tom mais escuro de verde */
}

.cart-icon {
    background-color: #d1d1d1; /* Cor neutra */
    border-radius: 50%;
    padding: 0.5rem;
    transition: opacity 0.3s ease;
}

.cart-icon:hover {
    opacity: 0.7; /* Efeito hover */
}
