/* Reset básico de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Opcional: reset para imagens, listas, e body */
img {
    display: block;
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}